<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>University App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
    <div class="brand">UniApp</div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/courses">Courses</a></li>
    </ul>
</nav>
<div class="container">